<div class="authform">
  <%= form_for(:user, :url => registration_path(resource_name)) do |f| %>
    <h3>Sign up</h3>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <%= f.label :access_group %> &raquo;
      <%#= f.text_field :access_group, :autofocus => true, class: 'form-control' %>
      <%= f.select(:access_group, ['admin','guest'], class: 'form-control')  %>
      <%#= f.collection_select :group, User::GROUP, :to_s, :to_s %>
    </div>
    
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
     <%= f.submit 'Sign up', :class => 'button right' %>
  <% end %>
</div>
