body{ background-color: #eee }  
main { background-color: transparent !important; }
th.t_header { text-align: center; }
div.column {}
div.authform {}
a.btn-edit{
  background-color: #BCB7B7;
  border-color: #B2AEAE;
  color: white;
}
a.btn-edit:hover{
  color: white;
  background-color: #A0A0A0;
}
div.column{ width: auto; }
div.authform.contact{ position: fixed; margin-left: 500px; margin-top: -5px}
