<td><%= user.id %></td>
<td><%= user.name %></td>
<td><%= user.email %></td>
<td><%= user.total %></td>
<td><%= user.access_group %></td>
<% if can? :manage, user %>
  <td>
    <%= link_to edit_user_path(user.id), title: 'edit user' do %>
      <span class="glyphicon glyphicon-pencil"></span>
    <% end %>
    &nbsp;
    <%= link_to user, title: 'show detail' do %>
      <span class="glyphicon glyphicon-search"></span>
    <% end %>
    &nbsp;
    <%= link_to contact_path(user.id), title: 'show contact' do %>
      <span class="glyphicon glyphicon-user"></span>
    <% end %>
    &nbsp;
    <%= link_to user_path(user.id), title: 'remove user',
      method: :'delete', data: {confirm: 'Are you sure remove this data?'} do %>
      <span class="glyphicon glyphicon-trash"></span>
    <% end %>
  </td>
<% end %>
