<div class="authform">
  <h3>Edit User Information<%#= @user.name %></h3>
  
  <%= form_for :user, url: user_path(@user), method: :patch, role: :form do |f| %>
      
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@user.errors.count, "error") %> prohibited
          this User from being saved:
        </h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <%= f.label :access_group %> &raquo;
      <%= f.select(:access_group, ['admin','guest'], class: 'form-control')  %>
    </div>
    
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    
    <fieldset>
      <p>Leave these fields blank if you don't want to change your password.</p>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </fieldset>
    
    <%= link_to 'Cancel', users_path, class: "btn btn-default left" %>
    <%= f.submit 'Update', :class => 'button right' %>
  
  <% end %>
  
</div>
