<div class="container">
  <div class="row">
    <h3>Users <%= current_user.name %> (@Login as <%= current_user.access_group %>)</h3>
    
    <%= link_to new_user_path, class: "btn btn-primary custom", title: "new" do %>
      <span class="glyphicon glyphicon-plus-sign"></span>
      Add new
    <% end %>
    
    <div class="column">
      
      <table class="table">
        <thead>
          <tr>
            <th class="t_header">Id</th>
            <th class="t_header">Name</th>
            <th class="t_header">Email</th>
            <th class="t_header">Contact</th>
            <th class="t_header">Group</th>
            <% if can? :manage, @user %>
              <th class="t_header">Action</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3"><b>Total contact:</b></td>            
            <td><b><%= @count %></b></td>
            <td colspan="2"></td>
          </tr>
        </tfoot>
      </table>
      
    </div>
  </div>
</div>
