<div class="authform">
  <h3>New User</h3>
  <%= form_for @user, url: '/users/new', method: :post do |f| %>
      
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@user.errors.count, "error") %> prohibited
          this Contact from being saved:
        </h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :group %> <br />
      <%= f.select(:access_group, ['admin','guest'], class: 'form-control')  %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    <%= hidden_field_tag 'user[password]', '1234567890' %>
    <%= link_to 'Cancel', users_path, class: "btn btn-default left" %>
    <%= f.submit 'Create', :class => 'button right' %>
  <% end %>
</div>
