<%= link_to 'User list', users_path %>
<span class="glyphicon glyphicon-backward"></span>
Back to

<h3>User Information</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>

<%= @user.inspect %>