<thead>
  <tr>
    <th class="t_header">Id</th>
    <th class="t_header">Phone Number</th>
    <th class="t_header">Details</th>
    <th class="t_header">Action</th>
    <!--<#% if can? :manage, @user %>
      <th class="">Other Action</th>
    <#% end %>-->
  </tr>
</thead>  
<tbody>
<% @contacts.order(updated_at: :desc).each do |contact_str| %>

<tr>
  <td><%= contact_str.id %></td>
  <td><%= contact_str.phone_number %></td>
  <td><%= contact_str.details %></td>
  <td>
    <%= link_to edit_contact_path(contact_str.id), title: 'edit contact', remote: true do %>
      <span class="glyphicon glyphicon-pencil"></span>
      edit
    <% end %>
    <br />
    <%= link_to contact_path({ id: contact_str.id, user_id: contact_str.user_id }), #contact_path(contact_str.id),
      method: :delete, title: 'remove contact',
      data: { confirm: 'Are you sure remove this data?' }, class: 'delete_action' do %>
      <span class="glyphicon glyphicon-trash"></span>
      delete
    <% end %>
  </td>
</tr>

<% end %>
</tbody>