<h3><%= "#{@contact.id}#" %> Edit contact here</h3>

<%= form_for :contact,
url: contact_path({id: @contact.id, user_id: @contact.user_id}),
role: :form,
method: :patch,
remote: true do |f| %>
    
  <div class="form-group">  
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :details %>
    <%= f.text_field :details, class: 'form-control' %>
  </div>
  
  <%= link_to 'Cancel', contact_path(@contact.user_id), class: "btn btn-default left", remote: true %>
  <%= f.submit 'Save', :class => 'button right' %>
<% end %>
