<% if @contact.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@contact.errors.count, "error") %> prohibited
				this Contact from being saved:
			</h2>
			<ul>
				<% @contact.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
<% end %>