<h3>Create contact here</h3>

<%= form_for :contact,
url: contact_path(@user.id),
role: :form,
remote: true do |f| %>
  <%= hidden_field_tag 'contact[user_id]', @user.id %>
  <div class="form-group">  
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :details %>
    <%= f.text_field :details, class: 'form-control' %>
  </div>
  
  <%= link_to 'Cancel', contact_path(@user.id), class: "btn btn-default left", remote: true %>
  <%= f.submit 'Add', class: 'button right' %>

<% end %>

