<div class="authform contact">
  <div id="form_error"></div>
  <div id="form_contact">
    <%= render 'new' %>
  </div>
</div>

<div class="container">
  <div class="row">
    
    <% if can? :manage, @user %>
      <%= link_to 'User list', users_path %> 
       <span class="glyphicon glyphicon-backward"></span>
       Back to
    <% end %>
    
    <h3>Contact &raquo; <%= "#{@user.id}##{@user.name}" %></h3>
    
    <%#= link_to "#{@user.id}/new", class: "btn btn-primary custom", title: "new" do %>
      <!--<span class="glyphicon glyphicon-plus-sign"></span>
      Add new-->
    <%# end %>
    
    <div class="column">
      <!--<a href="#" class="btn btn-primary custom" role="button">Button</a>-->
      
      <table class="table" id="render_js">
        <%= render 'data_grid' %>
      </table>
      
      <!--<div id="grid_render"></div>-->
      <!--<p><%#= link_to 'Users:', users_path %> <%= User.count %> registered</p>-->
    </div>
  </div>
</div>

</script>